/*
Theme Name: Tecnologeria Theme v2.0
Theme URI: http://tecnologeria.com
Author: Pablo Trinidad
Author URI: http://pablotrinidad.es
Description: Tema de tecnologeria.com
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: devdmbootstrap3
Template: devdmbootstrap3
*/

.cover-modal{
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 10000;
}

.twitter-share-button{
    display:block;
    margin-top: 10%;
    width: 68px;
    background: #00acee;
    border-radius: 8px;
    color: white;
}

.linkedin-share-button{
    display:block;
    margin-top: 10%;
    width: 68px;
}

i .modal{
    margin-left: 3px;
}
.popup {
    background: #fff;  
    width: 200px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
  }