.share-button{ 
    display:block;
    color: #00b7a0;
    margin-left: 5px;
    position: absolute;
}

.like-button{ 
    display:block;
    color: #00b7a0;
    margin-left: 225px;
    float: right;
    position: absolute;
}

article .like-button{ 
    display:block;
    color: #00b7a0;
    margin-left: 9px;
    margin-top: 3px;
    float: right;
    position: absolute;
}

article .share-button{ 
    display:block;
    color: #00b7a0;
    margin-left: 9px;
    margin-top: 3px;
    position: absolute;
}

.closeButton{
    float: right;
    margin-right: 10px;
    color: #777777;
}

.shareButtons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}